body {
  position: fixed;
  transition: all 1s;
  font-family: 'Roboto', sans-serif;
}
.content {
  position: absolute;
  top: 35vh;
  text-align: center;
  height: 10vh;
  width: 100vw;
  font-size: calc(100% + 5vw);
  font-weight: 100;
}
.bordered {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
.footer {
  position: absolute;
  height: 10vh;
  width: 100vw;
  top: 90vh;
  text-align: center;
  margin: auto;
  letter-spacing: 2px;
}